<div class="container">
  <div class="card shadow-sm">
    <div class="card-body">
      <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="inputLeaveTitle" class="col-12 col-md col-form-label required">Leave Request Title</label>
          <div class="col-12 col-md">
            <input type="text" class="form-control" id="inputLeaveTitle" formControlName="leaveTitle"
              [ngClass]="{ 'is-savedForm': savedForm && f.leaveTitle.errors }" />
            <div
              *ngIf="(!!f.leaveTitle.invalid && savedForm) || (!!f.leaveTitle.invalid && (!!f.leaveTitle.dirty || !!f.leaveTitle.touched))"
              class="alert alert-danger">
              <div *ngIf="!!f.leaveTitle.errors.required">
                Leave title is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmployeeName" class="col-12 col-md col-form-label required">Employee Name</label>
          <div class="col-12 col-md">
            <input type="text" class="form-control" id="inputEmployeeName" formControlName="empName" readonly />
            <div *ngIf="!!f.empName.invalid && (!!f.empName.dirty || !!f.empName.touched)" class="alert alert-danger">
              <div *ngIf="!!f.empName.errors.required">Name is required.</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail" class="col-12 col-md col-form-label required">Employee Email</label>
          <div class="col-12 col-md">
            <input type="email" class="form-control" id="inputEmail" formControlName="empEmail" readonly />
            <div *ngIf="!!f.empEmail.invalid && (!!f.empEmail.dirty || !!f.empEmail.touched)"
              class="alert alert-danger">
              <div *ngIf="!!f.empEmail.errors.required">
                Email Id is required.
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="form-group row">
          <label for="inputDateFrom" class="col-12 col-md col-form-label required">
            Select Leave Date</label>
          <div class="col-12 col-md">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="mm-dd-yyyy" formControlName="leaveDate" />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="toggleCalendar()" type="button"></button>
              </div>
            </div>
            <app-calendar *ngIf="statusOfCalendar" (selectedDateArray)="onSelect($event)"></app-calendar>
            <div
              *ngIf="(!!f.leaveDate.invalid && savedForm) || (!!f.leaveDate.invalid && (!!f.leaveDate.dirty || !!f.leaveDate.touched))"
              class="alert alert-danger">
              <div *ngIf="!!f.leaveDate.errors.required">
                Leave dates are required.
              </div>
            </div>
          </div>
        </div> -->

        <div class="form-group row">
          <label for="inputDateFrom" class="col-12 col-md col-form-label required">
            Select Leave Date</label>
          <div class="col-12 col-md">
            <input type="text" class="form-control" placeholder="mm-dd-yyyy" formControlName="leaveDate"
              (click)="toggleCalendar()" />
            <app-multi-date-picker [datesSelected]="datesSelected" (datesSelectedChange)="change($event)"
              *ngIf="statusOfCalendar" style="position: absolute; z-index: 1000;"></app-multi-date-picker>
            <div
              *ngIf="(!!f.leaveDate.invalid && savedForm) || (!!f.leaveDate.invalid && (!!f.leaveDate.dirty || !!f.leaveDate.touched))"
              class="alert alert-danger">
              <div *ngIf="!!f.leaveDate.errors.required">
                Leave dates are required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="leaveTypeControlSelect" class="col-12 col-md col-form-label required">Leave Type</label>
          <div class="col-12 col-md">
            <select class="form-control" id="leaveTypeControlSelect" formControlName="leaveType"
              [ngClass]="{ 'is-savedForm': savedForm && f.leaveType.errors }"
              (change)="onChangeRequest($event.target.value)">
              <option [value]="typeOfLeave.name" *ngFor="let typeOfLeave of typeOfLeaves">{{ typeOfLeave.name }}
              </option>
            </select>
            <div
              *ngIf="(!!f.leaveType.invalid && savedForm) || (!!f.leaveType.invalid && (!!f.leaveType.dirty || !!f.leaveType.touched))"
              class="alert alert-danger">
              <div *ngIf="!!f.leaveType.errors.required">
                Leave type is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="isHalfDay">
          <label for="inputLeaveHours" class="col-12 col-md col-form-label required">Leave Hours</label>
          <div class="col-12 col-md">
            <input type="number" class="form-control" id="inputLeaveHours" formControlName="leaveHours"
              [ngClass]="{ 'is-savedForm': savedForm && f.leaveHours.errors }" />
            <div
              *ngIf="(!!f.leaveHours.invalid && savedForm) || (!!f.leaveHours.invalid && (!!f.leaveHours.dirty || !!f.leaveHours.touched))"
              class="alert alert-danger">
              <div *ngIf="!!f.leaveHours.errors.required">
                Leave Hours is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="remarksTextarea" class="col-12 col-md col-form-label required">Remarks</label>
          <div class="col-12 col-md">
            <textarea class="form-control" id="remarksTextarea" rows="3" formControlName="remarks"
              [ngClass]="{ 'is-savedForm': savedForm && f.remarks.errors }"></textarea>
            <div
              *ngIf=" (!!f.remarks.invalid && savedForm) || (!!f.remarks.invalid && (!!f.remarks.dirty || !!f.remarks.touched))"
              class="alert alert-danger">
              <div *ngIf="!!f.remarks.errors.required">
                Leave remarks is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-outline-secondary bt-lg mr-2" (click)="onReset()">
              Reset
            </button>
            <button type="submit" class="btn btn-outline-primary bt-lg" [disabled]="!leaveRequestForm.valid"
              *ngIf="!isLoading else loading">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Loading Spinner Template -->
<ng-template #loading>
  <div class="lds-dual-ring"></div>
</ng-template>