.calendar {
  display: block;
  width: 20rem;
  margin: 0 auto;
}

.calendar-navs {
  background-color: #cccccc;
}

.month-nav {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.year-nav {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.today {
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
}

.disabled {
  color: #6c757d;
  cursor: not-allowed;
}

.selected {
  background-color: rgba(255, 115, 0, 0.897);
}

.hover {
  background-color: red;
}
label {
  text-align: center;
  margin-bottom: 0;
}

.form-control {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}

.card {
  position: absolute;
  z-index: 1000;
  width: fit-content;
  border-radius: 0;
}
.card-header {
  padding: 0;
  border-bottom: none;
}

.card-body {
  padding: 0;
}

.table {
  margin-bottom: 0;
}
