<div class="container">
  <div class="signIn">
    <app-login></app-login>
  </div>
  <footer class="pt-2 pt-md-3 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../assets/images/gTech_logo.png" alt="comapany logo" width="60" height="60">
        <small class="d-block text-dark mb-3 text-muted">&copy; 2019-2025 Accenture AOG Support Team. All rights
          reserved.</small>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>